.App {
  text-align: center;
  font-family: 'Arial', sans-serif; /* Apply Arial font */
  margin: 0;
  padding: 0;
}

.App-header {
  background-color: #01342c; /* Dark green background for header */
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh; /* Adjust height for content */
  padding: 20px;
}